.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

/* header */
body{
    
}

.body_container{
background-color: #e5e9f1;
}
header,main {
  background-color: #e5e9f1;
  
}

button:hover {
  background-color: rgb(211, 155, 83);
}
header {
  background-image: url(/Assets/Hero-bg.png);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 158px 150px;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 1400px;
  
  align-items: center;
}

nav p {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}

nav button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  height: 51px;
}

/* heading */

.banner-header {
  text-align: center;

  gap: 37px;
  
  width: 905px;
  margin-bottom: 152px;
  max-width: 100%;
}

.banner-h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 37px;
  margin-top: 0px;
}

.banner-button {
  margin-bottom: 0px;
  height: 48px;
  width: 174px;

  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
}

/* action section */

.main-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 0px 116px 0px;
  width: 1400px;
  /* max-width: 100%; */
  /* background-color: #e5e9f1; */
}


.title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 24px;

  color: rgba(37, 36, 50, 0.5);
}

.preview-button {
  margin-bottom: 0px;
  height: 48px;
  width: 229px;

  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
}
.left {
}
.left-side {
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  

  width: 517px;
}
.right-side {
  border: none;
  border-radius: 48px;
}

footer {
  
  margin: 0 auto;
  /* box-sizing: border-box; */
  
  background: #ffffff;

  /* width: 1440px; */
}

.footer-container {
  text-align: center;
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.footer-nav {
  margin: 0;

  /* align-items: center;
    text-align: center;
    gap: 30px;
    background-color: brown;
    border: none;
    max-width: 600px; */
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav li {
  list-style: none;
}

.footer-nav a {
  text-align: center;
  width: 100px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  /* margin-bottom: 50px; */

  color: #8987a1;
}

.footer-title h1 {
  font-size: 100px;
  font-weight: 900;
  color: #4e47ff;

  margin-bottom: 20px;
  margin-top: 0;
  height: 129px;
  text-align: center;
}

.footer-subtitle {
  color: #8987a1;
}

.productive-users-section {
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 0px;

  text-align: center;
  border-radius: 24px;
  width: 1400px;
  margin: 116px 159px 137px 141px;
}

.productive-users-section h2 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}

.users {
  display: flex;
  justify-content: center;
  gap: 158px;
  /* flex-wrap: wrap; */
}

.user-items h3 {
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
  margin: 0 0 0px 0;
}

.user-items p {
  font-size: 20px;

  color: rgba(0, 0, 0, 0.5);
}

/* touch section start */

.touch{
    display: flex;
    width: 1440px;
    margin: 100px auto;

    justify-content: space-between;
    align-items: center;
}

.touch_heading_title{
    font-size: 90px;
    font-weight: bold;
    
}

.touch_form label{
    font-size: 18px;
    font-weight: bold;

}

.touch_form input{
    width: 500px;
    height: 80px;
    padding: 2px 5px;
    margin: 5px 0px;
}
.touch_form textarea{
    padding: 12px 10px;
    margin: 5px 0px;
    
}

.form_button{
    width: 512px;
    height: 80px;
    padding: 2px 5px;
    color: white;
    background-color: #4e47ff;
    display: inline;

    margin-top: 19px;
    border: none;
    border-radius: 5px;
}


/* touch section end */

/* user container start */

.user_container{
    width: 1440px;
    margin-bottom: 100px;
}

.user_heading_title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
}

.users_cards{
    
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}

.user_card{
background-color: white;
padding: 10px;
border-radius: 10px;
width: 33%;
}

.user_card_info{

}

.user_card_info_title{
    font-size: 25px;
    font-weight: bold;
}

.user_card_info_description{
    font-size: 15px;
    color: rgba(30, 30, 30, 1);
}

.user_card_review{

     display: flex;
     align-items: center;
     gap: 20px;
}


.user_card_review_name{
    font-size: 10px;
    color:rgba(117, 117, 117, 1)
}

.user_card_review_image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




/* user container end */