
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header */

header{
    background-image: url(/Assets/Hero-bg.png);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 158px 150px;
    padding-bottom: 50px;
    padding-top: 50px;

    border: 2px solid; 
    /* dlt */

    align-items: center;

    max-width: 100%;
    width: 1140px;
    /* height: 151px; */

}

nav p{

    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    
    
    
}

nav button{
    font-size: 16px;
    font-weight: bold;
    color: white;  
    background-color: #4E47FF;  
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    height: 51px;
        

}

/* heading */

.banner-header{
text-align: center;

gap: 37px;
border: 2px solid;
width: 905px;
margin-bottom: 152px;
max-width: 100%;


}

.banner-h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
    margin-top: 0px;

}

.banner-button{
    margin-bottom: 0px;
    height: 48px;
    width: 174px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;

}

/* action section */

.main-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 160px 116px 141px;
    width: 1140px;
    max-width: 100%;

}

.title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 0px;
    margin-bottom: 0px;

}

.subtitle{
    font-size: 24px;
    
    color: rgba(37, 36, 50, 0.5);

}

.preview-button{
    margin-bottom: 0px;
    height: 48px;
    width: 229px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;

}
.left{

}
.left-side{
    gap:23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid;

    width: 517px;
    


}
.right-side{
    border: none;
    border-radius: 48px;


}

footer{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   border: 1px solid;
   background: #FFFFFF;
}

.footer-container{

    /* gap: 10px; */
    margin: 104px 640px;
    border: 1px solid;
    /* max-width: 600px; */
    height: 230px;
    
    
}

.footer-nav {
    margin: 0;
    
    /* align-items: center;
    text-align: center;
    gap: 30px;
    background-color: brown;
    border: none;
    max-width: 600px; */
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #8987A1;

}


.footer-title h1{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    
    margin-bottom: 20px;
    margin-top: 0;
    height: 129px;
    text-align: center;
}

.footer-subtitle p{
    font-size: 16px;
    font-weight: 400px;
    color: #8987A1;
    /* margin-top: 8px; */
    text-align: center;
    /* width: 531px; */
    margin-bottom: 20px;
}